{% load staticfiles %}
<html>
    <head>
        <title>Task_management</title>
          <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/theme.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
    </head>
    <body class="body">
        <nav class="navbar navbar-default navbar-static-top text-center navbar-fixed-top back" style="background-color: #fff;">
            <a href='{% url "home" %}'>
                <img src="{% static 'images/logo.png' %}" height="80px">
            </a>
        </nav>
        <main class="container" role="main">
            {% block content %}
            {% endblock %}
        </main> 
    </body>
</html>