{% extends 'core/base.html' %}

{% load staticfiles %}
    {% block content %}
    <div class="panel panel-default top_m">
            {{ project.project_heading }}
    </div>

    <div class="row">
        {% for task in tasks %}        
            <div class="col-md-6 col-sm-3 col-lg-8">
                <div class="panel">
                    <div class="panel_2">
                        <a class="colr" href="{% url 'comment' pk=task.pk%}">
                            {{ task.task_heading}}
                        </a>
                    </div>
                    <div class="panel-body">
                        <ol>
                            <li><b>Due Date</b>:--{{ task.due_date }}</li>
                            <br>
                            <li><b>Assigned To</b>:--{{task.assigned_to}}</li>
                        </ol>
                    </div>
                </div>
            </div>

            {% if forloop.counter == 1 %}
                <div class="col-md-3 col-sm-1 col-lg-4">
                    <div class="panel panel-default panel_3">
                        <div class="panel_4 ">
                            MEMBERS
                        </div>
                        <div class="panel-body">
                            <ol>
                                {% for user in  users %}
                                    <h4><li>{{ user }}</li></h4>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endblock %}