{% extends 'core/base.html' %}

{% load staticfiles %}
    {% block content %}
        <div class="row">
            {% for project in all_projects %}
            <div class="col-md-4">
                <a class="clor_1" href="{% url 'detail' pk=project.pk %}">
                    <div class="panel_1">
                        {{project.project_heading}}
                    </div>
                </a>
            </div>
                {% if forloop.counter|divisibleby:3 %}
                    <div class="row"></div>
                {% endif %}
            {% endfor %}
        </div>
{% endblock %}